{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/style_forms.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
    
{% endblock %}
{% block content %}

{% if form.errors %}
<p>You failed at loging in, you miserable buffoon, you absolute blunt spade, you catastrophic alpine mongrel.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{%translate "You shouldn't be able to access this page. Please leave."%}</p>
    {% else %}
    <p>{%translate 'Please login to see this page.'%}</p>
    {% endif %}
{% endif %}

    <div class="container text-{{text_color_mode}}">
{% comment %} {{form.as_p}} {% endcomment %}
{% comment %} (for ref, don't delete yet) {% endcomment %}
<section class="vh-80 gradient-custom">
  <div class="container py-5 h-80">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card card-registration very-{{color_mode}} text-{{text_color_mode}}" style="border-radius: 15px;">
          <div class="p-4">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">{%translate 'Registration Form'%}</h3>
            <form method="post" action="{% url 'signup' %}" enctype="multipart/form-data">
                {%csrf_token%}

                
                <div class="row">
                    <div class="col-md-6 mb-4">


                        <div class="form-outline text-soft-{{text_color_mode}}">
                            {{ form.username }}
                            <label class="form-label very-{{color_mode}} text-{{text_color_mode}}" for="id_username">{%translate 'Username'%}</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline form-outline-pp text-soft-{{text_color_mode}}">
                        {{ form.profile_picture }}
                        <label class="form-label bg-{{color_mode}} text-{{text_color_mode}} form-label-pp" for="id_profile_picture">{%translate 'Profile Pic*'%}</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">

                    <div class="form-outline text-soft-{{text_color_mode}}">
                        {{ form.pen_name }}
                        <label class="form-label very-{{color_mode}} text-{{text_color_mode}}" for="id_pen_name">{%translate 'Pen Name*'%}</label>
                    </div>

                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline text-soft-{{text_color_mode}}">
                            {{form.email}}
                            <label class="form-label very-{{color_mode}} text-{{text_color_mode}}" for="id_email">{%translate 'Email'%}</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline text-soft-{{text_color_mode}}">
                            {{form.password1}}
                            <label class="form-label very-{{color_mode}} text-{{text_color_mode}}" for="id_password1">{%translate 'Password'%}</label>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline text-soft-{{text_color_mode}}">
                            {{form.password2}}
                            <label class="form-label very-{{color_mode}} text-{{text_color_mode}}" for="id_password2">{%translate 'Password Confirmation'%}</label>
                        </div>
                    </div>
                </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-info btn-lg" type="submit" value="Submit" />
              </div>
                {% comment %} {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                    {% if field.help_text %}
                    <span data-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ field.help_text }}">
                    
                        {% else%}
                        <span>
                        {% endif %}
                        {{ field }}
                        </span>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %} {% endcomment %}
        </form>

        </div>

      </div>
    </div>
  </div>
</section>
</div>
<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}