{% extends "base.html" %}
{% load static %}
{% block additional_head %}
    <link rel="stylesheet" href="{% static 'css/style_signup.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
    
{% endblock %}
{% block content %}

{% if form.errors %}
<p>You failed at loging in, you miserable buffoon, you absolute blunt spade, you catastrophic alpine mongrel.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>You shouldn't be able to access this page. Please leave.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="container text-{{text_color_mode}}">
{% comment %} {{form.as_p}} {% endcomment %}
{% comment %} (for ref, don't delete yet) {% endcomment %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration bg-{{color_mode}} text-{{text_color_mode}}" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form method="post" action="{% url 'signup' %}">
                {%csrf_token%}

                
                <div class="row">
                    <div class="col-md-6 mb-4">

                    <div class="form-outline">
                        {{ form.first_name }}
                        <label class="form-label bg-{{color_mode}}" for="id_first_name">First Name</label>
                    </div>

                    </div>
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                        {{ form.last_name }}
                        <label class="form-label bg-{{color_mode}}" for="id_last_name">Last Name</label>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            {{ form.username }}
                            <label class="form-label bg-{{color_mode}}" for="id_username">Username</label>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            {{form.email}}
                            <label class="form-label bg-{{color_mode}}" for="id_email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">

                        <div class="form-outline">
                            {{form.password1}}
                            <label class="form-label bg-{{color_mode}}" for="id_password1">Password</label>
                        </div>

                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            {{form.password2}}
                            <label class="form-label bg-{{color_mode}}" for="id_password2">Password Confirmation</label>
                        </div>
                    </div>
                </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>
                {% comment %} {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                    {% if field.help_text %}
                    <span data-toggle="tooltip" data-bs-placement="right" data-bs-html="true" title="{{ field.help_text }}">
                    
                        {% else%}
                        <span>
                        {% endif %}
                        {{ field }}
                        </span>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %} {% endcomment %}
        </form>

        </div>

      </div>
    </div>
  </div>
</section>
</div>
<script type="text/javascript" src="{% static 'js/signup.js' %}"></script>
{% endblock %}