{% load compress %}
{% load static %}
{% load i18n %}
{% with color_mode=request.COOKIES.site_color_mode|default:"light" %}
{% with text_color_mode=request.COOKIES.site_text_color_mode|default:"dark" %}
{% with blursed_state=request.COOKIES.blursed|default:"mundane" %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% translate 'My junkyard' %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
{% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> {% endcomment %}
        {% compress css %}
        <link type="text/x-scss" href="{% static 'bootstrap/bootstrap.scss' %}" rel="stylesheet" media="screen">
        {% endcompress %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style_base.css' %}"/>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
        <link rel="icon" href="{% static 'images/favicon.ico' %}"/>
        {% block additional_head %}
        {% endblock %}
    </head>

    <body class="bg-{{color_mode}}">
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            padding-top: 10px;
        }
    </style>
    <span class="angry" style="display:none;">😠</span>
    <a class="take-me-home" href="{% url 'home' %}">{% translate "pls take me home I'm scared"%}</a>
    <span class="mad-overlay">
    </span>
        {% if messages %}
            {% for message in messages %}
                <div class="toast messages text-white bg-dark" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header{% if message.tags %} {{ message.tags }}{% endif %} text-white bg-dark">
                        <strong class="me-auto text-white bg-dark notification-title">{% translate 'Notification'%}</strong>
                        <button type="button" class="btn-close btn-close-white ms-auto close-toast" data-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <script type="text/javascript" src="{% static 'js/toasthider.js' %}"></script>
        {% endif %}
        <!-- Navigation -->
        <audio id="myAudio" style="display:none;" controls>
            <source src="{% static 'audio/stress.mp3' %}" type="audio/mpeg">
        </audio>
        
        <nav class="navbar navbar-expand-lg sticky-top navbar-{{color_mode}} {% if request.COOKIES.site_color_mode and request.COOKIES.site_color_mode == "dark" %}very-{{color_mode}}{% else %}bg-primary{% endif %}" id="mainNav">
            <div class="container-fluid d-flex bd-highlight">
                <a class="navbar-brand" href="{% url 'home' %}">{% translate 'Home'%}</a>
                        <div class="ms-auto me-2 nav-item text-{{text_color_mode}}">
                            <div class="form-check form-switch text-{{text_color_mode}}">
                                <input class="form-check-input align-middle" type="checkbox" id="{{text_color_mode}}ModeSwitch" {% if request.COOKIES.site_color_mode and request.COOKIES.site_color_mode == "dark" %}checked{% endif %}>
                                <label class="form-check-label align-middle" for="{{text_color_mode}}ModeSwitch">{% translate 'Switch to'%} {%translate text_color_mode|title%} {%translate 'Mode'%}</label>
                            </div>
                        </div>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto navbar-right">
                        {% if user.is_authenticated%}
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'create_post' %}">{%translate 'Post something' %}</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated%}
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'favorited' %}">{%translate 'Favorited'%}</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'publications' %}">{%translate 'My publications' %}</a>
                        </li>
                        {% endif %}
                        {% comment %} <li class="nav-item">
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go">
                            </form>
                        </li> {% endcomment %}
                        
                        <li class="nav-item dropdown">
                            <form class="language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% translate 'Language'%}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-{{color_mode}} text-{{text_color_mode}}" >

                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        {% if language.code != LANGUAGE_CODE %}<button type="submit" name="language" class="sneaky-button very-{{color_mode}}" value="{{language.code}}"><li id="{{ language.code }}" class="dropdown-item text-{{text_color_mode}}">
                                            {{ language.name }} ({{ language.code }})
                                        </li></button>

                                        {% else %}<li id="{{ language.code }}" class="dropdown-item text-{{text_color_mode}} text-muted bg-light">
                                            {{ language.name }} ({{ language.code }})
                                        </li>{% endif %}
                                    {% endfor %}
                                    {% comment %} <li><a class="dropdown-item text-{{text_color_mode}}" href="#en"><span class="flag-icon flag-icon-en">🇬🇧 </span> English</a></li>
                                    <li><a class="dropdown-item text-{{text_color_mode}}" href="#fr"><span class="flag-icon flag-icon-fr">🤮</span> Fr*nch</a></li>
                                    <li><a class="dropdown-item text-{{text_color_mode}}" href="#zz"><span class="flag-icon flag-icon-idk">🏁</span> Gibberish</a></li> {% endcomment %}
                                </ul>
                            </form>
                        </li>
                        {% comment %} TODO at some point lmao {% endcomment %}
                        {% comment %} <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="#">Contact</a>
                        </li> {% endcomment %}
                        {% if user.is_authenticated %}
                        <li class="nav-item text-red">
                            <a class="nav-link text-red font-weight-bold" href="{% url 'logout' %}">{% translate 'Logout' %}</a>
                        </li>
                        {% else %}
                        <li class="nav-item text-red">
                            <a class="nav-link text-red font-weight-bold" href="{% url 'login' %}">{% translate 'Login' %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        <div class="blursed">
            <form class="blursed_form" action="{% url 'set_blursing' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="submit" name="blursed" value="cursed" class="btn btn-{% if blursed_state == 'cursed' %}muted" disabled{%else%}danger"{%endif%}>{% translate 'Cursed'%}</button>
                    <button type="submit" name="blursed" value="mundane" class="btn btn-{% if blursed_state == 'mundane' %}muted" disabled{%else%}info"{%endif%}>{% translate 'Mundane' %}</button>
                    <button type="submit" name="blursed" value="blessed" class="btn btn-{% if blursed_state == 'blessed' %}muted" disabled{%else%}warning"{%endif%}">{% translate 'Blessed'%}</button>
                </div>
            </form>
        </div>
        <footer class="footer bg-grey">
            <p class="m-0 text-{{text_color_mode}} text-center ">{% translate 'Copyright'%} &copy; Me</p>
        </footer>
    </body>
<script type="text/javascript">
    var set_color_mode_path = "{% url 'set_color_mode' %}";
</script>
<script type="text/javascript" src="{% static 'js/misc.js' %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/adapters/jquery.js'%}"></script>
</html>
{% endwith %}
{% endwith %}
{% endwith %}