{% extends "base.html" %} 
{% load i18n %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
</style>

<header class="masthead bg-info mb-2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">{%translate 'I made a BANNER because it looks COOL and EPIC'%}</h3>
                    <p class="text-light">{%translate 'This will probably hold relevant info at some point'%}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container text-{{text_color_mode}}">
    <div class="row">
        <div id="post-holder" class="col-md-8 mt-3 left">
            {% include 'ajax/index_search_partial.html' %}
            {% block post_content%}
            {% endblock %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}