{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead bg-danger shadow-lg">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to... wherever this is</h3>
                    <p class="text-light">Please excuse the mess
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% if request.COOKIES.site_color_mode and request.COOKIES.site_color_mode == "dark" %}
<div class="container text-light">
{% else %}
<div class="container text-dark">
{% endif %}
    <div class="row">
        <div id="post-holder" class="col-md-8 mt-3 left">
            {% include 'ajax/index_search_partial.html' %}
            {% block post_content%}
            {% endblock %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}