{% load i18n %}
{% block sidebar %}
{% load static %}
<!-- jGravity file -->
<script src="{% static 'js/jquery.throwable.js' %}"></script>
<script src="{% static 'js/surprise.js' %}"></script>

<script src="{% static 'js/chapterinfo.js' %}"></script>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 mt-3 float-right">
<div class="card mb-4 very-{{color_mode}} text-{{text_color_mode}} " id="under-const">
        <h5 class="card-header">{%translate 'Under construction'%}</h5>
    <div class="card-body">
        <p class="card-text"> {%translate "This message has changed, though you probably didn't notice."%}</p>
        <a href="#" class="btn btn-danger" id="please-dont-click">{%translate 'DO NOT CLICK THIS'%}</a>
    </div>
</div>
</div>
{% endblock sidebar %}