{% load i18n %}
{% block sidebar %}
{% load static %}

<!-- jGravity file -->
<script src="{% static 'js/jquery.throwable.js' %}"></script>
<script src="{% static 'js/surprise.js' %}"></script>

<script src="{% static 'js/chapterinfo.js' %}"></script>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 mt-3 float-right">
<input class="form-control mb-4 me-2 very-{{color_mode}} text-{{text_color_mode}}" type="search" placeholder="{% translate 'Search posts'%}" aria-label="Search" id="search">
<div class="card mb-4 very-{{color_mode}} text-{{text_color_mode}}" id="under-const">
        <h5 class="card-header">{%translate 'Under construction'%}</h5>
    <div class="card-body">
        <p class="card-text">{%translate "This website is currently under construction, please disregard whatever unexpected things you may find."%}</p>
        <a href="#" class="btn btn-danger" id="please-dont-click">{%translate 'DO NOT CLICK THIS'%}</a>
    </div>
</div>
</div>
<script type="text/javascript">
    var path = "{% url 'search_posts' %}";
    var color_mode = "{{request.COOKIES.site_color_mode}}";
    var text_color_mode = "{{request.COOKIES.site_text_color_mode}}";
</script>
<script type="text/javascript" src="{% static 'js/postsearch.js' %}"></script>
{% endblock sidebar %}