
{% block post_content%}
    {% if post_list and not empty and search%}
    <h3>The following posts match your search: </h3>
    {% endif %}
    {% for post in post_list %}
        <div class="card mb-4 bg-{{color_mode}} shadow-lg">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">
                        {% if post.author.pen_name %}
                        By {{ post.author.pen_name }} 
                        {% else %}
                        By {{ post.author }} 
                        {% endif %}
                        on {{ post.created_on}} </p>
                <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">See comments</a>
            </div>
        </div>
    {% endfor %}
    {% if not empty and search%}
        {% if posts_by_authors%}
        <h3>The authors of the following posts match your search: </h3>
        {% endif %}
        {% for post in posts_by_authors %}
            <div class="card mb-4 bg-{{color_mode}}">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">
                        {% if post.author.pen_name %}
                        By {{ post.author.pen_name }} 
                        {% else %}
                        By {{ post.author }} 
                        {% endif %}
                        on {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">See comments</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}