{% load bootstrap_icons %}
{% load static %}
{% block post_content%}
    {% if post_list and not empty and search%}
    <h3>The following posts match your search: </h3>
    {% endif %}
    
    {% if not post_list %}
        <h3>No posts</h3>
    {% endif %}
    {% if user.is_authenticated%}
        <span id="star-fill-span" style="display:none;">
            {% bs_icon "star-fill" %}
            <span>Favorite</span>
        </span>
        <span id="star-span" style="display:none;">
            {% bs_icon "star" %}
            <span>Favorite</span>
        </span>
        <script type="text/javascript">
            var url_favorites="{% url 'fav' %}"; 
        </script>
    {% endif %}
    {% for post in post_list %}
{% if request.COOKIES.site_color_mode and request.COOKIES.site_color_mode == "dark" %}
        <div class="card mb-4 bg-dark text-light shadow-lg">
{% else %}
    {% if color_mode == "dark" %}
            <div class="card mb-4 bg-dark text-light shadow-lg">
    {%else%}
        <div class="card mb-4 bg-light text-dark shadow-lg">
{% endif %}
{% endif %}
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">
                        {% if post.author.pen_name %}
                        By {{ post.author.pen_name }} 
                        {% else %}
                        By {{ post.author }} 
                        {% endif %}
                        on {{ post.created_on}} </p>
                <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read more...</a>
                {% if user.is_authenticated%}
                    {% if post in favorites %}
                    <label for="id-of-input" class="custom-checkbox btn btn-primary fav delete_fav" id="{{post.id}}">
                    {% bs_icon 'star-fill' %}
                        <span>Favorite</span>
                    </label>
                    {% else %}
                    <label for="id-of-input" class="custom-checkbox btn btn-primary fav add_fav" id="{{post.id}}">
                    {% bs_icon 'star' %}
                        <span>Favorite</span>
                    </label>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if not empty and search%}
        {% if posts_by_authors%}
        <h3>The authors of the following posts match your search: </h3>
        {% endif %}
        {% for post in posts_by_authors %}
            <div class="card mb-4 bg-{{color_mode}}">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">
                        {% if post.author.pen_name %}
                        By {{ post.author.pen_name }} 
                        {% else %}
                        By {{ post.author }} 
                        {% endif %}
                        on {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" | safe }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">See comments</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/post.js' %}"></script>
{% endblock %}