.toast
{
    width: 250px;
    top : 65px;
    right : 10px;
    position : absolute;
    border-radius : 10px;
    z-index: 10000;
}

.toast-header
{
    border-radius : 10px;
}

.toast-close
{
    padding : 5px;
}

.notification-title
{
    display: block;
}

.book-info
{
    display: none;
}

.book-select-error
{
    display: none;
}

.no-underline
{
    text-decoration: none;
}

.form-moderation
{
    display: inline;
}