{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>You failed at loging in, you miserable buffoon, you absolute blunt spade, you catastrophic alpine mongrel.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>You shouldn't be able to access this page. Please leave.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% if request.COOKIES.site_color_mode and request.COOKIES.site_color_mode == "dark" %}
    <div class="container text-light">
{% else %}
    <div class="container text-dark">
{% endif %}


<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div class="form-outline mb-2">
              {{ form.username }}
              <label class="form-label mt-1" for="#loginusername">Username or Email address</label>
            </div>

            <div class="form-outline mb-2">
              {{ form.password }}
              <label class="form-label mt-1" for="#loginpassword">Password</label>
            </div>

            <div class="pt-1 mb-4">
              <button class="btn btn-info btn-lg btn-block" type="submit">Login</button>
            </div>

            <p class="small mb-5 pb-lg-2"><a class="link-info" href="#!">Forgot password?</a></p>
            <p>Don't have an account? <a href="#!" class="link-info">Register here</a></p>

          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/img3.jpg" alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>

{% comment %} <form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form> {% endcomment %}

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

</div>
{% endblock %}