{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  
    {% if user.is_authenticated and user_inactive_comments %}
        <h4>The following comment{{user_inactive_comments|pluralize}} {{user_inactive_comments|pluralize:"is,are"}} still under review:</h4>
        <div class="container bg-teal">
            {% for comment in user_inactive_comments %}
            <div class="row card">
                    <div class="comments " style="padding: 10px;">
                        <p class="font-weight-normal text-primary">
                            {{ comment.user }} 
                        <span class="text-dark">on</span>
                        <span class="font-weight-light fs-6 text-muted">
                            {{ comment.created_on }}
                        </span>
                        </p>
                        <p class="font-weight-normal text-info">
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}


    {% if comments %}
        <h4>Comments:</h4>
    {% else %}
        <h4>Be the first to comment!</h4>
    {% endif %}
    <div class="container">
        {% for comment in comments %}
        <div class="row card">
                <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.user }} on
                    <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                    </span>
                </p>
                {{ comment.body | linebreaks }}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr/>
    {% if user.is_authenticated%}
            <h3>Leave a comment</h3>
            <form method="post" style="margin-top: 1.3em;">
                {% for field in comment_form.visible_fields %}
                    {{ field }}
                {% endfor %}
            {% csrf_token %}
            <br/>
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
            </form>

    {% else %}
        <h3>You need to be <a class="font-weight-bold" href="{% url 'login' %}">logged in</a> order to leave a comment!</h3>
    {% endif %}
</div>

{% endblock content %}