{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
  
    {% if user.is_authenticated and user_inactive_comments and not moderation_comments %}
        <h4>The following comment{{user_inactive_comments|pluralize}} {{user_inactive_comments|pluralize:"is,are"}} still under review:</h4>
        <div class="container bg-teal">
            {% for comment in user_inactive_comments %}
                <div class="row card mt-2">
                    <div class="comments " style="padding: 10px;">
                        <p class="font-weight-normal text-primary">
                            {{ comment.user }} 
                        <span class="text-dark">on</span>
                        <span class="font-weight-light fs-6 text-muted">
                            {{ comment.created_on }}
                        </span>
                        </p>
                        <p class="font-weight-normal text-info">
                            {{ comment.body | linebreaks }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}

    {% if user.is_authenticated and moderation_comments %}
        <script type="text/javascript">
            var url_approve="{% url 'approve_comment' %}";
            var url_delete="{% url 'delete_comment' %}";
        </script>
        <h4>The following comment{{moderation_comments|pluralize}} {{moderation_comments|pluralize:"is,are"}} awaiting  {{moderation_comments|pluralize:"its,their"}} review{{moderation_comments|pluralize}}:</h4>
        <div class="container bg-teal">
            {% for comment in moderation_comments %}
                <div class="row card mt-2">
                    <div class="comments " style="padding: 10px;">
                        <p class="font-weight-normal text-primary">
                            {{ comment.user }} 
                        <span class="text-dark">on</span>
                        <span class="font-weight-light fs-6 text-muted">
                            {{ comment.created_on }}
                        </span>
                        </p>
                        <p class="font-weight-normal text-info">
                            {{ comment.body | linebreaks }}
                        </p>
                        <form class="form-moderation approve" action="javascript:void(0);" method="POST"  id="{{comment.id}}">
                            <button type="submit" class="btn btn-success approve-comment">Approve</button>
                        </form>
                        <form class="form-moderation delete" action="javascript:void(0);" method="POST"  id="{{comment.id}}">
                            <button type="submit" class="btn btn-danger delete-comment" >Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr/>
    {% endif %}
    <span class="main-comments">
    {% include 'ajax/comments.html' %}
    {% block main_content %}
    {% endblock main_content %}
    </span>
    <hr/>
    {% if user.is_authenticated %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;" action="">
            {% for field in comment_form.visible_fields %}
                {{ field }}
            {% endfor %}
            {% csrf_token %}
            <br/>
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        <script type="text/javascript">var wipe=false;</script>
        {% for message in messages %}
            {% if message.tags == "success" %}
            <script type="text/javascript">var wipe=true;</script>
            {% endif %}
        {% endfor %}
        <script type="text/javascript" src="{% static 'js/comments.js' %}"></script>
    {% else %}
        <h3>You need to be <a class="font-weight-bold" href="{% url 'login' %}">logged in</a> order to leave a comment!</h3>
    {% endif %}
</div>
{% endblock content %}