

.mirror { /* login page shenanigans */
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  color:red !important;
  font-family: "October Crow";
}
.unmirror{
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
  animation: initial !important;
}
.mirror button{
  background-color : red !important;
  border : darkred !important;
}
.mirror a
{
  color: red !important;
}

@font-face {
    font-family: "October Crow";
    src: url("./fonts/October Crow.ttf");
   }
.mirror input{
    font-family:"October Crow";
    color : red !important;
}
#dontclick, .nothere
{
  cursor: default;
  color : initial;
  text-decoration : none;
}
.nothere
{
  font-size : 8px;
}

#smiley
{
  font-size : 20vw;
  text-align : center;
  display : block;
}
.mirror h3, .mirror div{
    animation: glitch 4s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      filter: blur(0.5px);
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      filter: blur(1px);
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .mirror h3:before, .mirror div:before,
  .mirror h3:after, .mirror div:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .mirror h3:before, .mirror div:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .mirror h3:after, .mirror div:after{
    animation: glitchBotom 1s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

*
{
  overflow-x: hidden !important;
}

form *
{
  overflow-x: initial !important;
}